.box{
    width:795px;
    height: fit-content;
    background-color: #FFFF;
    margin-top: 5%;
    border-style: solid;
}
.logoini{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: calc(48%);
    margin-bottom: 2%;
    margin-top: 2%;
}
h1{
    text-align: center;
    font-size: 32px;
    color:yellowgreen;
    margin-bottom: 50%;
}
.aviso{
    font-family: Arial, Helvetica, sans-serif !important;
    color: #333333;
    font-size: 16px;
}
.colum{
    margin-left: 35%;
    margin-right: -8%;
}
.a{
    color: #333333 !important;
    font-size: 400px;
}
