.box{
    height: fit-content;
    background-color: #FFFF;
    margin-top: 5%;
}
.close{
    width:25px;
    height: 25px;
    margin-left: 70%;
    margin-top: 2%;
}
.logoini{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: calc(48%);
    margin-bottom: 2%;
    margin-top: 1%;
}
.titulo{
    text-align: center;
    font-size: 32px;
    color:#333333 !important;
    margin-bottom: 2%;
}
.aviso{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: #333333;
    font-size: 16px;
}
.colum{
    margin-left: 35%;
    margin-right: -5%;
}
.a1{
    color: #333333 !important;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.a1:hover{
    background-color: #d8d5d5;
}
.email{
    color: #666666 !important;
    font-size: 16px;
    margin-left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.password{
    color: #666666 !important;
    font-size: 16px;
    margin-left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.texto{
    margin-left: 25%;
    border-color: #d8d5d5;
    width: 33rem;
    background-color: #FFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.contrase{
    margin-left: 25%;
    border-color:#d8d5d5;
    width: 33rem;
    background-color: #FFFF;
}
.olvido{
    margin-left: 50%;
}
.button{
    width: 33rem;
    margin-left: 25%;
    background-color: #111111 !important;
    opacity: 0.25;
    color: #FFFF;
    font-size: 22px;
}
.secondtitle{
    margin-top: 3%;
    margin-left: 25%;
    font-size: 16px;
    color:#333333 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
.nombre{
    color: #666666 !important;
    font-size: 16px;
    margin-left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.c{
    margin-left: 14.5%;
}
.gender{
    margin-left: 25%;
    border-color: #d8d5d5;
    width: 12rem;
    background-color: #FFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.nombre2{
    color: #666666 !important;
    font-size: 16px;
    margin-left: -10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.date{
    margin-left: -10%;
}
.button2{
    width: 12rem;
    background-color: #111111 !important;
    opacity: 0.25;
    color: #FFFF;
    font-size: 22px;
}
.c1{
    margin-left: 24%;
}
.c2{
    margin-left: -16%;
}