.inicio-title{
    color: white;
    font-size: 56pt;
    font-family: 'Playfair Display', serif;
    margin: 15px 10px 0px 15px ;
}
.inicio-title2{
    color: white;
    font-size: 56pt;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.inicio-subtitle{
    color: white;
    font-size: 20pt;
    font-family: 'Inter', sans-serif;
    margin: 0px 10px 15px 15px;
}
.inicio-titleArt{
    color:gray;
    font-size: 28pt;
    font-family: 'Playfair Display', serif;
    margin: 0px 10px 50px 5px;
}
.pie{
    color: #C1C1C1;
    font-size: 18pt;
    font-family: 'Playfair Display', serif; 
    text-decoration: none;
}

.cabeza{
    color: white;
    font-size: 26pt;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
.logo{
    width: 100px;
    height: 100px;
}
.art-inicio{
    width: 360px;
    height: 420px;
    border-width: 5px;
    border-color: #CC0298;
    border-style: solid;
}
.land-image{
    width: 1280px;
    height: 597px;
    margin: 10px 5px 5px 10px;
}
.personajes-im{
    width: 375px;
    height: 345px;
    border-radius: 50%;
}
.head-p{
    background-color: #9A09F7;
}
.first-ini{
    background-image: url(/images/Articulo.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 597px;
}
.second-ini{
    background-color: #555E75;
}
.footer-ini{
    background-color: #020100;
}
hr{
    height: 5px;
    background-color: white;
}
.col-articulosIni{
    column-count: 3;
    column-gap: 40px;
    text-align: center;
}
.banner-ningiri{
    background-image: url(/images/Ningiri.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.texto-nin{
    font-size: 56pt;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 400px; 
    left: 50px;
    opacity: 0.6;
}
.pie-prod{
    color: #342D2D;
    font-size: 18pt;
    font-family: 'Playfair Display', serif; 
    text-decoration: none;
}
.col-personajes{
    column-count: 3;
    column-gap: 10px;
    text-align: center;
}
.button-ini{
    background-color: #CC0298;
    border-radius: 20%;
    text-decoration: none;
    font-family: 'Inter',sans-serif;
    font-size: 20pt;
    color: white;
    position: relative;
    left: 50px;
    top: 100px;
    padding: 15px 30px;
}
.button-nin{
    background-color: #CC0298;
    border-radius: 20%;
    text-decoration: none;
    font-family: 'Inter',sans-serif;
    font-size: 18pt;
    color: white;
    position: absolute;
    left: 70px;
    top: 670px;
    padding: 15px 20px;
}
.personajes-title1{
    text-align: center;
    font-size: 63pt;
    font-family: 'Playfair Display', serif;
    margin: 15px 15px 15px 15px;
}
.personajes-title2{
    font-size: 28pt;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 15px 15px 25px 15px;
}
.texto-per{
    color:white;
    font-size: 56pt;
    font-family: 'Playfair Display', serif;
    margin: 5px 10px 15px 10px;
}
.p-per{
    color: white;
    font-size: 22pt;
    font-family: 'Playfair Display', serif;
    text-align: justify;
    margin: 10px 15px 5px 15px;
}
.art-2{
    background-image: url(/images/Articulo2.PNG);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 85%;
    height: 597px;
}
.tit-art2{
    color: white;
    font-size: 56pt;
    font-family: 'Playfair Display', serif;

}
.sub-art2{
    color: white;
    font-size: 20pt;
    font-family: 'Inter', sans-serif;
}