.div-cabeza{
    height: 120px;
    top: 0px;
    background: #F8F8F8;
}

/*<div class="form-check" style="padding: 5%;">
<h1 style="text-align:center;">FORUM</h1>
<div id="seccion_aportes" class="flex-lg-fill" style="width: 600px; padding: 5%;"></div>
</div>*/

.cabeza{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-style:normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #737373;
}
.boton1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 31px !important;
    margin-right: 10px;
    background: #658FFF !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important
}
.boton2{
    background-color: #FFFFFF !important;
    padding: 15px 31px !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    color: #658FFF !important;
}
.container1{
    font-family:Arial, Helvetica, sans-serif !important;
    font-style: normal;
    margin-bottom: 5%;
}
.c1{
    padding: 3%;
}
.c2{
    text-align: center;
    padding: 5%;
}
.c3{
    padding: 3%;
    margin-left: 10%;
}
.c4{
    padding: 5%;
    margin-left: 3%;
}
.c5{
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.imalogo{
    margin-bottom: 10%;
}
.foot{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-style:normal;
    color: #646464 !important;
}
.imafoot{
    margin-left: 2%;
    margin-right: 2%;
}
.block{
    width: fit-content;
    height:fit-content;
    border-style:groove;
    border-width: 0cap;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    margin-top: 5%;
}
.pasar{
    background-color:#658FFF !important;
    border-radius: 50%;
    padding: 0%;
}
.imaper{
    background-color: #F8F8F8;
    margin-top: 0%;
    margin-left:43%;
}
.h1comentario{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    position: relative;
    text-align: center;
}
.pcomentario{
    text-align: justify;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
}
.tcard{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color: #252B42;
    font-size: 18px;
}
.pcard{
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: justify;
}
.artcontainer{
    background-image: url(/images/JaponArt.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.titleart{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 55px;
    color: #FFFFFF !important;
    padding-top: 15%;
    padding-left: 5%;
}
.subart{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 24px;
    color: #FFFFFF !important;
    padding-top: 2%;
    padding-left: 5%;
}
.fechaart{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 16px;
    color: #FFFFFF !important;
    padding-top: 2%;
    padding-left: 5%;
}
.contentart{
    margin-bottom: 5%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif !important;
    color: #252B42 !important;
    font-size: 18px;
}
.imaart{
    margin-left: 75%;
}
.hart{
    margin-left: 80%;
    margin-top: -4%;
}
.part{
    margin-left: 80%;
}
.art2container{
    background-image: url(/images/4.1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.title2art{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 55px;
    color: #252B42 !important;
    padding-top: 15%;
    padding-left: 5%;
}
.sub2art{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 24px;
    color: #252B42 !important;
    padding-top: 2%;
    padding-left: 5%;
}
.fecha2art{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 16px;
    color: #252B42 !important;
    padding-top: 2%;
    padding-left: 5%;
}
.art3container{
    background-image: url(/images/5.1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.art4container{
    background-image: url(/images/Gato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.sub3art{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 24px;
    color: #252B42 !important;
    padding-top: 5%;
    padding-left: 5%;
}
.art5container{
    background-image: url(/images/Inicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.title3art{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 55px;
    color: #FFFF !important;
    padding-top: 20%;
    padding-left: 5%;
}
.art6container{
    background-image: url(/images/WIP.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}